<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img class="d-inline-block" id="logo" routerLink="" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/IMDB_Logo_2016.svg/575px-IMDB_Logo_2016.svg.png" alt="logo"/>
          </a>
        <form
            class="d-flex"
            [formGroup]="movieSearchForm"
            >
            <select
                class="form-control select-category mt-2"
                id="type"
                aria-describedby="type"
                formControlName="type"
                >   
                <option value="">All</option>
                <option value="movie">Movie</option>
                <option value="series">Series</option>
            </select>

            <input
                class="form-control mr-sm-2 mt-2"
                type="search"
                id="movie"
                aria-describedby="movie"
                placeholder="Search"
                formControlName="movie"
                searchInput [(ngModel)]="searchTerm" (keyup)="searchMovies()"
                autocomplete="off"
                #reference
            />
            <div class="container p-2">
                <div *ngIf="searchResults.length > 0" class="card bg-dark text-white p-1">
                    <div *ngFor="let movie of searchResults[0].slice(0, 3)" class="row mb-2 ml-1">
                        <img class="poster" src="{{ movie.Poster }}" alt="{{ movie.Title }}" />
                        <div class="titleDiv">
                            <button type="button" (click)="getData(movie['Title'])" class="btn btn-outline-light my-2 my-sm-2 title">
                                <span><b>{{ movie.Title }}</b></span>
                            </button><br/>
                            <span class="year">{{ movie.Year }}</span><br/>
                            <span class="actors">{{ movie.Director }}</span>
                        </div>
                    </div>
                </div>
            </div>
     
            <button (click)="searchResults = []" type="submit" class="btn btn-outline-light my-2 my-sm-2" routerLink="/result">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
            </button>

            <button class="btn btn-outline-dark" routerLink="/favourites">
                <span id="starRating">&#9733;</span>
            </button>
        </form>
    </div>
</nav>


