.container-fluid {
    justify-content: center;
}
form {
    width:50%;
}
#movie {
    width:400%;
}
#logo {
    height:38px;
    width:auto;
}

#logo:hover {
    cursor: pointer;
}

#starRating {
    font-size:150%;
    color:#f5c518;
}

@media (max-width: 760.98px) {


    form {
        width:71%;
    }

    #movie {
        width:200%;
    }

    #type {
      display:none;
    }

    .btn {
        margin-left:10px;
      }
  }
  
