.container-fluid {
    justify-content: center;
}
form {
    width:50%;
}
#movie {
    width:400%;
}
#logo {
    height:38px;
    width:auto;
}

#logo:hover {
    cursor: pointer;
}

#starRating {
    font-size:150%;
    color:#f5c518;
}

@media (max-width: 760.98px) {


    form {
        width:71%;
    }

    #movie {
        width:200%;
    }

    #type {
      display:none;
    }

    .btn {
        margin-left:10px;
      }
  }

.card {
    position: absolute;
    width:70%;
    margin:auto;
    z-index: 2;
}

.row {
    height:100px;
    z-index: 2;
}

.poster {
    max-height: 100%;
    width:70px;
}

.title, .year, .actors {
    position:relative;
    left:20px;
    top:10px;
}

.titleDiv {
    display:inline-block;
}

.container {
    position: absolute;
    justify-content: center;
    margin-top:47px;
    align-items: center;
    text-align: center;
    z-index: 10;
}

