.imageText {
    height: 150px;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 51%, rgba(164,164,164,0) 100%);
    position: relative;
    margin-top:-90px;

}

#homeCarouselImage {
    width:100%;
}

.row, .card {
    background: #191919;
}

#boot-icon {
    font-size: 350%; 
    color: rgb(255, 255, 255);
}

#boot-icon:hover {
    color: #f5c518;
    cursor: pointer;
}

#boot-icon-small {
    font-size: 200%; 
    color: rgb(255, 255, 255);
    position:relative;
    margin-left:7%;
    margin-top:5%;
}

#boot-icon-small:hover {
    color: #f5c518;
    cursor: pointer;
}

#boot-title {
    color: white;
    font-size:200%;
}

#boot-title-small {
    color: white;
    font-size:130%;
    position:relative;
    margin-top:8%;
    margin-left:2%;
    width:100%;
}

.trailer {
    position:relative;
    margin-left:65%;
    padding-top:7%;
}

.homeListImage {
    max-width:25%;
    margin-top:2%;
    position:relative;
}

.homeListDescription {
    color:white;
    position:relative;
    margin-top:18%;
    margin-left:-110%;
    font-size:90%;
    width:60%;
}

.featuredList {
    height:200px;
}

.winnerList {
    border:2px solid blue;
    height:150px;
}

.whatToWatch {
    border:2px solid yellow;
    height:300px;
}

.featuredImage {
    height:98%;
    box-shadow:0 0 10px white;
}

.featuredImage:hover {
    box-shadow:0 0 20px white;
    cursor: pointer;
}


@media (max-width: 760.98px) {

    .featuredToday {
        display:none;
    }
  }



