<div class="container">
    <button (click)="clearFavourites()" class="btn btn-light mt-2">Clear Favourites</button>
</div>
<div *ngFor="let movie of favouriteMovies" class="container">
    <div class="card mt-2 shadow-lg">
        <div class="row mt-3">
            <div class="col-sm-4">
                <img class="poster mt-4 ml-5" [src]="movie['Poster']" [alt]="movie['Title']"/>
            </div>
            <div class="col-sm-7 mt-5">
                <h2>{{movie["Title"]}}</h2>
                <p>{{movie["Genre"]}}</p>
                <p>{{movie["Plot"]}}</p>
                <button (click)="unfavourite(movie['Title'])" class="btn btn-dark">
                    Unfavourite
                </button>
            </div>
        </div>
    </div>
</div>

